/* reset css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f6fefe;
  color: #444;
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

main {
  display: flex;
  padding: 32px;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  max-height: 468px;
  margin-left: 32px;
}

main section:first-child {
  margin-left: 0;
}

main section .icon {
  width: 64px;
  height: 64px;
}

main section .icon img {
  width: 100%;
}

main section h3 {
  font-size: 100%;
  margin: 16px 0;
}

main section span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
}

main section button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: none;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px 0;
}

main section.card-contact button {
  background: linear-gradient(to right, #9f66ff, #dfcbff);
}

main section.card-shop button {
  background: linear-gradient(to right, #3e8aff, #bbdeff);
}

main section.card-about button {
  background: linear-gradient(to right, #fe5f8f, #ffc7d9);
}

main section.card-contact {
  box-shadow: 20px 20px 50px -30px #dbc4ff;
}

main section.card-shop {
  box-shadow: 20px 20px 50px -30px #afd6ff;
}

main section.card-about {
  box-shadow: 20px 20px 50px -30px #ffc1d5;
}

@media screen and (max-width: 670px) {
  main {
    flex-direction: column;
    height: 100vh;
  }

  main section {
    margin-left: 0;
    margin-bottom: 32px;
  }

  main section:last-child {
    margin-bottom: 0;
  }

  main section button {
    font-size: 70%;
  }
}
